@use 'resets' as *;
@use 'variables' as *;

body {
    font-family: $ff-main;
    font-size: $fs-text;
    font-weight: 400;
    background-color: $navy-950;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-500 $space-300;
    line-height: 1.67;
}

main {
    display: flex;
    justify-content: center;
}

.report {
    display: grid;
    gap: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
    max-width: clamp(38.25rem, 2.25rem + 75vw, 69.75rem);
    width: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        background-color: $navy-900;
        border-radius: $rounded-sm;
    }

    &__user-info {
        display: flex;
        align-items: center;
        gap: $space-300;
        background-color: $purple-600;
        padding: $space-400;
        border-radius: inherit;
    }

    &__user-avatar {
        width: 64px;
        border: 3px solid $grey-200;
        border-radius: 9999px;
    }

    &__user-name {
        font-size: $fs-heading;
        font-weight: 300;
        line-height: 1.67;
    }

    &__header-inline-text {
        display: block;
        font-size: $fs-text;
        font-weight: 400;
        color: $navy-200;
    }

    &__timeframe-list {
        align-self: center;
        width: 100%;
        max-width: 21.438rem;
        display: flex;
        justify-content: space-around;
        padding: $space-300 0;
    }

    &__timeframe-btn {
        background-color: unset;
        color: $purple-500;
        border: unset;
        cursor: pointer;

        &:hover {
            color: $white;
        }
    }

    &__card {
        border-radius: $rounded-sm;
        position: relative;
        overflow-y: hidden;

        &--orange {
            background-color: $orange-300;
        }
        &--blue {
            background-color: $blue-300;
        }
        &--pink {
            background-color: $pink-400;
        }
        &--green {
            background-color: $green-400;
        }
        &--purple {
            background-color: $purple-700;
        }
        &--yellow {
            background-color: $yellow-300;
        }
    }

    &__card-logo {
        position: absolute;
        right: 10px;
        top: -15px;
    }

    &__card-content {
        display: flex;
        flex-direction: column;
        gap: clamp($space-100, 2vw, $space-300);
        position: relative;
        background-color: $navy-900;
        border-radius: $rounded-sm;
        padding: $space-300;
        margin-top: 10%;

        &:hover {
            background-color: $navy-800;
        }
    }

    &__card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card-title {
        font-size: $fs-subheading;
        font-weight: 500;
    }

    &__card-btn > path {

        fill: $navy-200;
        cursor: pointer;

        &:hover {
            fill: $white;
        }

    }

    &__card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__current {
        font-size: $fs-numbers;
        font-weight: 300;
    }

    &__previous {
        color: $navy-200;
    }
}

@media screen and (min-width: 26.563rem) {
    
    .report {

        &__header {
            grid-column: span 2;
        }

        &__card-content {
            margin-top: 15%;
        }

        &__card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}

@media screen and (min-width: 48rem) {
    
    .report {

        &__header {
            grid-column: span 3;
        }

        &__card-content {
            margin-top: 18%;
        }
    }
}

@media screen and (min-width: 90rem) {
    
    .report {

        grid-template-columns: repeat(4, 1fr);

        &__header {
            grid-column: 1 / 1;
            grid-row: 1 / span 2;
        }

        &__user-info {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.75rem;
            padding-bottom: 7.3rem;
        }

        &__user-name {
            line-height: 1.2;
        }

        &__timeframe-list {
            flex-direction: column;
            gap: $space-300;
            padding: $space-400;
        }

    }
}
