/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  background-color: #0E1323;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1.5rem;
  line-height: 1.67;
}

main {
  display: flex;
  justify-content: center;
}

.report {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  max-width: clamp(40.25rem, 2.25rem + 75vw, 69.75rem);
  width: 100%;
}
.report__header {
  display: flex;
  flex-direction: column;
  background-color: #1C204B;
  border-radius: 15px;
}
.report__user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #5747EA;
  padding: 2rem;
  border-radius: inherit;
}
.report__user-avatar {
  width: 64px;
  border: 3px solid #D8D8D8;
  border-radius: 9999px;
}
.report__user-name {
  font-size: clamp(1.5rem, 0.3571rem + 2.381vw, 2.5rem);
  font-weight: 300;
  line-height: 1.67;
}
.report__header-inline-text {
  display: block;
  font-size: 0.938rem;
  font-weight: 400;
  color: #BBC0FF;
}
.report__timeframe-list {
  margin: 0 auto;
  align-self: center;
  width: 100%;
  max-width: 21.438rem;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.report__timeframe-btn {
  background-color: unset;
  color: #7078C9;
  border: unset;
  cursor: pointer;
  outline: transparent;
}
.report__timeframe-btn:hover, .report__timeframe-btn:focus {
  color: #ffffff;
}
.report__timeframe-btn--active {
  color: #ffffff;
}
.report__grid {
  display: grid;
  gap: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  width: 100%;
}
.report__card {
  border-radius: 15px;
  position: relative;
  overflow-y: hidden;
  padding-top: 10%;
}
.report__card--work {
  background-color: #FF8B64;
}
.report__card--play {
  background-color: #55C2E6;
}
.report__card--study {
  background-color: #FF5E7D;
}
.report__card--exercise {
  background-color: #4BCF82;
}
.report__card--social {
  background-color: #7335D2;
}
.report__card--self-care {
  background-color: #F1C75B;
}
.report__card-logo {
  position: absolute;
  right: 10px;
  top: -15px;
}
.report__card-content {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 2vw, 1.5rem);
  position: relative;
  background-color: #1C204B;
  border-radius: 15px;
  padding: 1.5rem;
  height: 100%;
  cursor: pointer;
}
.report__card-content:hover {
  background-color: #33397A;
}
.report__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.report__card-title {
  font-size: 1.125rem;
  font-weight: 500;
}
.report__card-btn {
  background-color: unset;
  border: transparent;
  cursor: pointer;
  outline: transparent;
}
.report__card-btn:hover path, .report__card-btn:focus path {
  fill: #ffffff;
}
.report__card-btn path {
  fill: #BBC0FF;
}
.report__card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.report__current {
  font-size: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  font-weight: 300;
}
.report__previous {
  color: #BBC0FF;
}

@media screen and (min-width: 23.438em) {
  .report__card-body {
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 29.688em) {
  .report__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .report__card {
    padding-top: 13%;
  }
  .report__card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 48em) {
  .report__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .report__card {
    padding-top: 18%;
  }
}
@media screen and (min-width: 90em) {
  .report {
    flex-direction: row;
  }
  .report__card {
    padding-top: 15%;
  }
  .report__header {
    max-width: 15.938rem;
  }
  .report__user-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.75rem;
    padding-bottom: 7.3rem;
  }
  .report__user-name {
    line-height: 1.2;
  }
  .report__timeframe-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
